
= @stylesheet_link_tag '//fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700&subset=latin,latin-ext', property: 'stylesheet'
= @stylesheet_link_tag 'scripts/fancybox/source/jquery.fancybox.css'
= @stylesheet_link_tag 'scripts/tooltipster/dist/css/tooltipster.bundle.min.css'
= @stylesheet_link_tag 'scripts/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css'

= @javascript_include_tag '//code.jquery.com/jquery-3.1.1.min.js'
= @javascript_include_tag 'scripts/fancybox/source/jquery.fancybox.pack.js'
= @javascript_include_tag 'scripts/tooltipster/dist/js/tooltipster.bundle.min.js'
= @javascript_include_tag 'scripts/share.js/dist/share.js'
= @javascript_include_tag 'animation.js'
= @javascript_include_tag 'animations.js'
= @javascript_include_tag 'fancybox.js'
= @javascript_include_tag 'tooltips.js'
= @javascript_include_tag 'main.js'
