
%article.article.work-life.animate-if-in-view.fade-in-on-load{ data: { wait: 3000 } }
  %h2.headline
    work life

  %p
    I developed web games before I startet studying Ba.Sc. Media Informatics
    at the
    = @link_to 'Beuth University of Applied Sciences', 'https://www.beuth-hochschule.de', target: '_blank'
    = '. My graduation work was a Node.js server and AdobeAIR client as Dropbox alternative, you can find it '
    = @link_to('here', 'http://nodebox.tomhanoldt.info', target: '_blank') + '.'

  .item
    - gas_image = @image_tag 'companies/gameartstudio.png', alt: 'GameArt Studio GmbH', title: 'GameArt Studio GmbH'
    %h3.headline.small
      = @link_to gas_image + ' GameArt Studio GmbH', 'http://www.gameartstudio.de', title: 'GameArt Studio GmbH', target: '_blank'
      %span.range
        (2007 - 2012)
    %p
      As full stack developer of the first hour I did my first steps with high availability
      and scaling technologies at GameArt Studio. Our main stack was php, java, apache2 and bash scripts.
      We were among the first commercial user of mysql-cluster.


  .item
    - kp_image = @image_tag 'companies/kaeuferportal.png', alt: 'Käuferportal GmbH', title: 'Käuferportal GmbH'
    %h3.headline.small
      = @link_to kp_image + ' Käuferportal GmbH', 'http://www.kaeuferportal.de', title: 'Käuferportal GmbH', target: '_blank'
      %span.range
        (2012 - 2018)
    %p
      As part of the frontend team at Käuferportal I had a lot to do with mobile optimisation, wordpress
      and ruby on rails. Also with all sorts of modern web technologies, deployment and agile development.

  .item
    - rab_image = @image_tag 'companies/rankabrand.png', alt: 'Rank a Brand Foundation', title: 'Rank a Brand Foundation'
    %h3.headline.small
      = @link_to rab_image + ' Rank a Brand Foundation', 'https://rankabrand.org/home/what-we-do', title: 'Rank a Brand Foundation', target: '_blank'
      %span.range
        (2016 - 2017)
    %p
      I`m supporting Rank A Brand during the development and relaunch of their website and their services. We are
      a loose coupled team of volunteers and work on a modern stack with php (yii2), gulp, sass, coffeescript, docker and chef.

  .item
    - eve_image = @image_tag 'companies/enpal.png', alt: 'Enpal', title: 'Enpal'
    %h3.headline.small
      = @link_to eve_image + ' Enpal', 'https://enpal.de/', title: 'Enpal', target: '_blank'
      %span.range
        (2017 - now)
    %p
      I did the frontent development for Enpal during her company launch and now we are in the process
      of fine tuning and optimizing the website and also running A/B testing.

  .item
    - elearnio_image = @image_tag 'companies/elearnio.png', alt: 'elearnio', title: 'elearnio'
    %h3.headline.small
      = @link_to elearnio_image, 'https://elearnio.com/', title: 'elearnio', target: '_blank'
      %span.range
        (2018 - now)
    %p
      I implemented the plattform and deployment on AWS and also built and maintain the eLearning application based on
      = @link_to('Moodle', 'https://moodle.org', title: 'Moodle', target: '_blank') + '.'


  .item
    - cw_image = @image_tag 'companies/creative-workflow.png', alt: 'Creative Workflow', title: 'Creative Workflow'
    %h3.headline.small
      = @link_to cw_image + ' Creative-Workflow', 'https://creative-workflow.berlin/company.html', title: 'Creative-Workflow', target: '_blank'
      %span.range
        (2015 - now)
    %p
      In the beginning of 2015 I got self employed as Creative-Workflow. I did a lot of
      optimisation for customer projects, build up infrastructures, implemented
      websites and did consulting.


    %h3.headline.small some customer projects:

    %ul
      %li = @link_to 'www.evergreen-energy.de', 'https://evergreen-energy.de/', target: '_blank'

      %li = @link_to 'www.physiologicum-berlin.de', 'http://www.physiologicum-berlin.de/', target: '_blank'

      %li = @link_to 'www.feah.de', 'http://www.feah.de/', target: '_blank'


    .button-wrapper
      = @link_to '&raquo; more info on webdesign &laquo;', 'https://www.creative-workflow.berlin/', class: "button cta", target: '_blank'

- github_image = @image_tag('social/github.png', alt: 'github', title: 'github')
.icon
  = github_image
