

.container
  = '.container'
  .row
    .item.item-1
      = '.item.item-1'
    .item.item-2
      = '.item.item-2'
    .item.item-3
      = '.item.item-3'

.container-fluid
  = '.container-fluid'
  .row
    .item.item-1
      = '.item.item-1'
    .item.item-2
      = '.item.item-2'
    .item.item-3
      = '.item.item-3'
